.files-folders {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.file-folder {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-folder-img {
  width: 20px;
  height: 20px;
}
